.navTabs {
  display: flex;
  align-items: flex-end;

  height: 40px;

  border-bottom: 1px solid #333;

  &__tab {
    display: flex;
    align-items: center;

    height: 40px;

    padding: 0 25px;

    background: rgba(0, 0, 0, 0.05);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    color: #333;

    text-decoration: none;
    text-transform: uppercase;

    transition: all 0.2s ease-in-out;
    &_active {
      pointer-events: none;

      height: 50px;
      //background: red;
      box-shadow: 0 -4px 0px rgba(0,0,0,0.3);

      text-decoration: underline;


    }
  }
}